<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_style.css') }}">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <title>{% block title %}{% endblock %} Grocery</title>


  {% endblock %}
</head>

<body>
  {% block  body%}

  {% endblock %}
  <!-- <div id="footer" class="container">
    <div class="card">
      <div class="card-body">
        <div class="container">
          <div class="row">
              <div class="col-lg-12" style="text-align: center;">
                  <p class="copyright text-muted small">All Rights Reserved | Design by Anvaya Empowering Tech</p>
              </div>
          </div>
      </div>
      </div>
    </div>

  </div> -->
<!-- 
  <footer>
    <p>Author: Hege Refsnes</p>
    <p><a href="mailto:hege@example.com">hege@example.com</a></p>
  </footer> -->

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <!-- jQuery Custom Scroller CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

  <script type="text/javascript">
      $(document).ready(function () {

          $("#sidebar").mCustomScrollbar({
              theme: "minimal"
          });

          $('#sidebarCollapse').on('click', function () {
              $('#sidebar, #content').toggleClass('active');
              $('.collapse.in').toggleClass('in');
              $('a[aria-expanded=true]').attr('aria-expanded', 'false');
          });

          

          // for product page

          $('.product_table tbody').on('click','.update_button',function(){

            var row = $(this).closest("tr") // Finds the closest row <tr> 
            
            var product_id = row.find('td:eq(0)').text()
            var product_name = row.find('td:eq(2)').text()
            var stock = row.find('td:eq(3)').text()
            var weight = row.find('td:eq(4)').text()
            var unit = row.find('td:eq(5)').attr("name");
            var price = row.find('td:eq(6)').text()
            var category = row.find('td:eq(7)').attr("name");
            var description = row.find('td:eq(8)').text()
            
            $("#update_model").find('#product_id')[0].value = product_id
            $("#update_model").find('#product_name')[0].value = product_name
            $("#update_model").find('#product_description')[0].value = description
            $("#update_model").find('#stock')[0].value = stock
            $("#update_model").find('#product_weight')[0].value = weight
            $("#update_model").find('#price_per_unit')[0].value = price
            $("#update_model").find('#unit_id')[0].value = unit
            $("#update_model").find('#product_type_id')[0].value = category

          });

          $('.product_table tbody').on('click','.delete_button',function(){

              var row = $(this).closest("tr") // Finds the closest row <tr> 

              var product_id = row.find('td:eq(0)').text()
              var product_name = row.find('td:eq(2)').text()


              $("#delete_model").find('#product_id')[0].value = product_id
              $("#delete_model").find('#product_name')[0].value = product_name

              });


            // For category page

          $('.category_table tbody').on('click','.update_button',function(){

            var row = $(this).closest("tr") // Finds the closest row <tr> 

            var type_id = row.find('td:eq(0)').text()
            var type_name = row.find('td:eq(1)').text()


            $("#update_model").find('#type_id')[0].value = type_id
            $("#update_model").find('#type_name')[0].value = type_name

          });

          $('.category_table tbody').on('click','.delete_button',function(){

            var row = $(this).closest("tr") // Finds the closest row <tr> 

            var type_id = row.find('td:eq(0)').text()
            var type_name = row.find('td:eq(1)').text()


            $("#delete_model").find('#type_id')[0].value = type_id
            $("#delete_model").find('#type_name')[0].value = type_name

          });



          // for order page


          $('.order_table tbody').on('click','.update_button',function(){

            var row = $(this).closest("tr") // Finds the closest row <tr> 
            var order_id = row.find('td:eq(0)').text()
            

            $("#update_model").find('#order_id')[0].value = order_id

          });

          $('.order_table tbody').on('click','.delete_button',function(){

            var row = $(this).closest("tr") // Finds the closest row <tr> 

            var order_id = row.find('td:eq(0)').text()
            var customer_name = row.find('td:eq(4)').text()


            $("#delete_model").find('#order_id')[0].value = order_id
            $("#delete_model").find('#order_from')[0].value = customer_name

          });


          $('.order_table tbody').on('click','.view_button',function(){

            var row = $(this).closest("tr") // Finds the closest row <tr> 

            var order_id = row.find('td:eq(0)').text()

            

            fetch('/order_items/'+  order_id).then(function(response) {
              response.json().then((data)=>{
                $('.order_items_table').find('tbody').empty();
                
                data['items'].forEach(item => {
                  $('#order_items_table').last().append(
                    "<tr>"+
                    "<td scope='row' name='id'>"+item['product_id']+"</td>"+
                    "<td>"+item['product_name']+"</td>"+
                    "<td>"+item['quantity']+"</td>"+
                    "<td>"+item['price']+"</td>"+
                    "</tr>"
                  );
                  // console.log(data)
                  $('#sub_total').html(data['sub_total']);
                  $('#delivery_charge').html(data['delivery_charge']);
                  $('#total').html(data['total_amount']);
                });
                
              })
            })

          });


          // For delivery charges page

          $('.address_charges_table tbody').on('click','.update_button',function(){

            var row = $(this).closest("tr") // Finds the closest row <tr> 

            var charge_id = row.find('td:eq(0)').text()
            var address_pin = row.find('td:eq(1)').text()
            var amount = row.find('td:eq(2)').text()


            $("#address_update_model").find('#charge_id')[0].value = charge_id
            $("#address_update_model").find('#address_pin')[0].value = address_pin
            $("#address_update_model").find('#amount')[0].value = amount

          });

          $('.address_charges_table tbody').on('click','.delete_button',function(){

            var row = $(this).closest("tr") // Finds the closest row <tr> 

            var charge_id = row.find('td:eq(0)').text()
            var address_pin = row.find('td:eq(1)').text()
            var amount = row.find('td:eq(2)').text()


            $("#address_delete_model").find('#charge_id')[0].value = charge_id
            $("#address_delete_model").find('#address_pin')[0].value = address_pin
            $("#address_delete_model").find('#amount')[0].value = amount

          });
          
          // weight delivery charges
          $('.weight_charges_table tbody').on('click','.update_button',function(){

            var row = $(this).closest("tr") // Finds the closest row <tr> 

            var charge_id = row.find('td:eq(0)').text()
            var start_wt = row.find('td:eq(1)').text()
            var end_wt = row.find('td:eq(2)').text()
            var amount = row.find('td:eq(3)').text()


            $("#weight_update_model").find('#charge_id')[0].value = charge_id
            $("#weight_update_model").find('#start_weight')[0].value = start_wt
            $("#weight_update_model").find('#end_weight')[0].value = end_wt
            $("#weight_update_model").find('#amount')[0].value = amount

          });

            $('.weight_charges_table tbody').on('click','.delete_button',function(){

              var row = $(this).closest("tr") // Finds the closest row <tr> 

              var charge_id = row.find('td:eq(0)').text()
              var start_wt = row.find('td:eq(1)').text()
              var end_wt = row.find('td:eq(2)').text()
              var amount = row.find('td:eq(3)').text()


              $("#weight_delete_model").find('#charge_id')[0].value = charge_id
              $("#weight_delete_model").find('#start_weight')[0].value = start_wt
              $("#weight_delete_model").find('#end_weight')[0].value = end_wt
              $("#weight_delete_model").find('#amount')[0].value = amount

            });


      });
  </script>

{% block scripts %}
  {{ moment.include_moment() }}
{% endblock %}


</body>

</html>