{% extends "dashboard_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block  content%}

<div class="container-fluid mb-2 text-right">
  {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
    {% endfor %}
  
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#address_add_model" >Add Address Charges</button>
      </div>
      <div class="card-body">
        <div class="card">
          <div class="card-body">
        
            <div class="table-responsive">
              <table class="table address_charges_table">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <!-- <th scope="col">image</th> -->
                    <th scope="col">Pin</th>
                    <th scope="col">Charge</th>
                    <th scope="col">Update</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
        
                  {% for charge in address_charges %}
                    <tr>
                      <td scope="row" name="id">{{charge.id}}</td>
                      <td>{{charge.address_pin}}</td>
                      <td>{{charge.amount}}</td>
                      <td><button type="button" class="btn btn-primary update_button" data-toggle="modal" data-target="#address_update_model" >Update</button></td>
                      <td><button type="button" class="btn btn-warning delete_button" data-toggle="modal" data-target="#address_delete_model" >Delete</button></td>
        
                    </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
            </div>
        
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- end of card 1 -->
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#weight_add_model" >Add Weight Charges</button>
      </div>
      <div class="card-body">
        <div class="card">
          <div class="card-body">
        
            <div class="table-responsive">
              <table class="table weight_charges_table">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <!-- <th scope="col">image</th> -->
                    <th scope="col">Start weight</th>
                    <th scope="col">End weight</th>
                    <th scope="col">Charge</th>
                    <th scope="col">Update</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
        
                  {% for charge in weight_charges %}
                    <tr>
                      <td scope="row" name="id">{{charge.id}}</td>
                      <td>{{charge.start_weight}}</td>
                      <td>{{charge.end_weight}}</td>
                      <td>{{charge.amount}}</td>
                      <td><button type="button" class="btn btn-primary update_button" data-toggle="modal" data-target="#weight_update_model" >Update</button></td>
                      <td><button type="button" class="btn btn-warning delete_button" data-toggle="modal" data-target="#weight_delete_model" >Delete</button></td>
        
                    </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
            </div>
        
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

  




{% block address_add_model %}
<div class="modal fade" id="address_add_model" tabindex="-1" role="dialog" aria-labelledby="address_add_modelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="address_add_modelLabel">Add New Address Charge</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{wtf.quick_form(address_add_form)}}
      </div>
      
    </div>
  </div>
</div>
{% endblock %}


{% block address_update_model %}
<div class="modal fade" id="address_update_model" tabindex="-1" role="dialog" aria-labelledby="address_update_modelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="address_update_modelLabel">Update Address Charge</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{wtf.quick_form(address_update_form)}}
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block address_delete_model %}
<div class="modal fade" id="address_delete_model" tabindex="-1" role="dialog" aria-labelledby="address_delete_modelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="address_delete_modelLabel">Delete Address Charge</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{wtf.quick_form(address_delete_form)}}
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>
{% endblock %}





<!-- Weight charges models -->

{% block weight_add_model %}
<div class="modal fade" id="weight_add_model" tabindex="-1" role="dialog" aria-labelledby="weight_add_modelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="weight_add_modelLabel">Add New Weight Charge</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{wtf.quick_form(weight_add_form)}}
      </div>
      
    </div>
  </div>
</div>
{% endblock %}


{% block weight_update_model %}
<div class="modal fade" id="weight_update_model" tabindex="-1" role="dialog" aria-labelledby="weight_update_modelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="weight_update_modelLabel">Update Weight Charge</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{wtf.quick_form(weight_update_form)}}
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block weight_delete_model %}
<div class="modal fade" id="weight_delete_model" tabindex="-1" role="dialog" aria-labelledby="weight_delete_modelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="weight_delete_modelLabel">Delete Weight Charge</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{wtf.quick_form(weight_delete_form)}}
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>
{% endblock %}



{% endblock %}