{% block scripts %}
  {{moment.include_moment()}}
  {{ moment.lang("en") }}
{% endblock %}
<div>
  <div>
    <p>
      <b> <u>New Order Received</u></b> <br>

      From :<b>{{data['order_details']['customer_details']['customer_name']}}</b> <br>

      Customer Name: {{data['order_details']['customer_details']['customer_name']}} <br>
      Customer Phone : {{data['order_details']['customer_details']['customer_contact_phone']}} <br>
      Customer Address : {{data['order_details']['customer_details']['customer_address']}}<br>
      Pin : {{data['order_details']['customer_details']['customer_address_pin']}}
      <br>
      <br>
      <b><u>Order Details:</u></b><br>

      <b>Order Id:</b> {{data['order_details']['order_id']}} <br>
      <b>Time Placed:</b> {{data['order_details']['time_placed']}}<br>
      <b>Details:</b> {{data['order_details']['details']}} <br>
      <b>Contact :</b> {{data['order_details']['customer_details']['customer_contact_phone']}} <br>
      <b>Delivery Address:</b> {{data['order_details']['delivery_address']}} <br>
      <b>Address Pin:</b>  {{data['order_details']['delivery_address_pin']}} <br>

    </p>

  </div>

  <div>
    <br><br>
    <b><u>Items:</u></b><br><br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product Id</th>
          <th scope="col">Product Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>

        {% for item in data['ordered_items']['items'] %}
        <tr>
          <td scope="row" name="id">{{item.product_id}}</td>
          <td scope="row">{{item.product_name}}</td>
          <td scope="row">{{item.quantity}}</td>
          <td scope="row">{{item.price}}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>

        <tr>
          <th colspan="3">Sub Total :</th>
          <td id="total">{{data['ordered_items']['sub_total']}}</td>
        </tr>
        <tr>
          <th colspan="3">Delivery Charges:</th>
          <td id="total">{{data['order_details']['delivery_charge']}}</td>
        </tr>
        <tr>
          <th colspan="3">Total :</th>
          <td id="total">{{data['ordered_items']['total_amount']}}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
