{% extends "dashboard_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block  content%}
<div class="container-fluid mb-2 text-right">
  {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
    {% endfor %}
</div>


<div class="card">
  <div class="card-body">

    <div class="table-responsive">
      <table class="table order_table">
        <thead>
          <tr>
            <th scope="col">Order<br>Id</th>
            <th scope="col">Date and Time </th>
            <th scope="col">Delivery <br>Address</th>

            <th scope="col">Customer <br>Name</th>
            <th scope="col">Customer <br>Phone</th>
            <th scope="col">Customer <br>Address</th>

            <th scope="col">Order<br>Details</th>
            
            <th scope="col">Update</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>

          {% for order in orders %}
            <tr>
              <td scope="row" name="id">{{order.id}}</td>
              <td >{{moment(order.time_placed).format('Do/MMMM/YYYY, h:mm:ss a')|string}}</td>

              <td>{{order.delivery_address}}<br>{{order.delivery_address_pin}}</td>
              
              <td>{{order.customer_name}}</td>
              <td>{{order.customer_contact_phone}}</td>
              <td>{{order.customer_address}}<br>{{order.customer_address_pin}}</td>
              <td>{{order.details}}</td>

              <td><button type="button" class="btn btn-primary view_button" data-toggle="modal" data-target="#order_items_model" >Items</button></td>
              
          
              <td><button type="button" class="btn btn-primary update_button" data-toggle="modal" data-target="#update_model" >Update</button></td>
              <td><button type="button" class="btn btn-warning delete_button" data-toggle="modal" data-target="#delete_model" >Delete</button></td>

            </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>

  </div>
</div>

{% block order_items_modal %}
<div class="modal fade" id="order_items_model" tabindex="-1" role="dialog" aria-labelledby="order_items_modelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="order_items_modelLabel">Ordered Items</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table id ="order_items_table" class="table order_items_table">
            <thead>
              <tr>
                <th scope="col">Product Id</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody >
              
            </tbody>
            <tfoot>
              <tr>
                <th  colspan="3">SubTotal:</th>
                <td id="sub_total"></td>
              </tr>
              <tr>
                <th  colspan="3">Delivery Charges:</th>
                <td id="delivery_charge"></td>
              </tr>
              <tr>
                <th  colspan="3">Total :</th>
                <td id="total"></td>
              </tr>
             </tfoot>
          </table>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block update_model %}
<div class="modal fade" id="update_model" tabindex="-1" role="dialog" aria-labelledby="update_modelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="update_modelLabel">Update Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{wtf.quick_form(update_form)}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Send message</button> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block delete_model %}
<div class="modal fade" id="delete_model" tabindex="-1" role="dialog" aria-labelledby="delete_modelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete_modelLabel">Delete Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{wtf.quick_form(delete_form)}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% endblock %}